@font-face {
    font-family: 'Norse';
    src:  url('Norse-Bold.otf') format('otf'),
          url('Norse-Bold.otf') format('otf');
}

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body {
    height: 100vh;
    font-family: 'Poppins';
    font-weight: normal;
    font-style: normal;
}

.container {
    display: flex;
    height: 100%;
}

/* left side */
h1 {
    color: white;
    background-color:#060b0f;
    opacity: 0.5;
    font-family: Norse;
    text-align: center;
    padding: 30px;
    font-size: 5rem;
    margin-bottom: 50vh;
}

h6 {
    text-align: center;
    color: white;
    font-size: 1rem;
}

.left {
    background-image: url("trees.avif");
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
}

img {
    height: 5rem;
}

.left a {
    color: white;
}

/* right side */
.right {
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.r-top {
    background-color: rgb(240,238,244);
    padding: 100px 70px 50px 40px;
    flex: 3;
    font-size: 1.2rem;
    line-height: 1.7rem;
    flex-basis: 0;
}

.r-top > p:nth-of-type(2){
    margin-top: 20px;
}
.r-mid {
    flex: 2;
    padding: 20px 40px;
    box-shadow: 3px 3px 10px gray;
    flex-basis: 0;
}

form {
    display: flex;
    width: 80%;
    flex-direction: column;
    margin-top: 20px;
}

input {
    margin: 0 20px 20px 0;
    height: 2rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid #eee;
    width: 80%;
}

form > div {
    display: flex;
    justify-content: stretch;
}

.row1 > div, .row2 > div, .row3 > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input:focus {
    box-shadow: 3px 3px 10px gray;
    outline: 2px solid #48647b;
}

input:invalid {
    border: 2px solid red;
}

label {
    letter-spacing: 0.1rem;
}

#mismatch {
    margin-bottom: 20px;
    font-size: 0.8rem;
    color: red;
    visibility: hidden;
}

.row3 input:first-of-type {
    margin-bottom: 0;
}

.r-bottom {
    padding: 40px 40px 10px 40px;
    flex: 3;
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-wrap: wrap;
}

button[type="submit"] {
    background-color: #30544a;
    color: white;
    border-radius: 5px;
    width: 240px;
    padding: 20px;
    font-family: 'Poppins';
    font-size: 1.2rem;
    border: none;
    box-shadow: 3px 3px 10px gray;
    margin-bottom: 2rem;
    flex: 1;
}

r-bottom h5 {
    flex: 1;
}

button[type="submit"]:hover {
    color: #30544a;
    background-color: white;
    outline: 2px solid #30544a;
}

a {
    color: #30544a;
}